.btnContain {
  display: flex;
  gap: 20pxx;
}

.allContain {
  width: unset;
}

.pgContain {
  max-width: 1400px;
  margin: auto;
  padding: 60px 0px;
}

.pgContain h2 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 60px;
}

.submitBtn {
  background-color: #2a2725;
  padding: 15px 60px;
  color: #ffffff;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-encode-sans);
}

.formFooter {
  padding: 60px 0px;
  display: flex;
  gap: 20px;
}

.cancelBtn {
  background-color: #770909;
  padding: 15px 60px;
  color: #ffffff;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-encode-sans);
}

