.aboutHeader {
  padding: 200px 0px 100px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.6)),
    url("/assets/contact.jpg");
  background-size: cover;
  background-position: center bottom;
  background-color: #f5f5f5;
  text-align: center;
}

.aboutHeader h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

.aboutHeader p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  max-width: 600px;
  margin: auto;
  padding: 0px 20px;
  line-height: 1.5;
}
.aboutHeader a {
  display: inline-block;
  color: #249c09;
  text-decoration: underline;
  border-radius: 5px;
}

.aboutBody {
  max-width: 1200px;
  margin: auto;
  padding: 80px 0px 40px 0px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
}

.colOne h2 {
  font-size: 40px;
  font-weight: 700;
}

.colOne p {
  font-size: 18px;
  padding-top: 10px;
  width: 90%;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.phoneNo,
.email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phoneNo h2,
.email h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.phoneNo p,
.email p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
