* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.ProseMirror {
  height: 400px;
  padding: 20px 40px;
  border: 2px solid #3a4a3f;
  border-radius: 10px;
  font-family: var(--font-lato);
  line-height: 1.7;
  overflow: auto;
  box-sizing: border-box;
  resize: none;
  width: 100%;
}
