.sliderContainer {
  width: 100%;
}

.categoryTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #f0f0f0;
}

.slide {
  height: 600px;
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.postMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.category {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.date {
  font-size: 0.8rem;
  opacity: 0.8;
}

.title {
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.postContent {
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.readMore {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #eae2d3;
  color: #222222;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  text-align: center;
  width: fit-content;
}

.readMore:hover {
  background-color: #3a4a3f;
  color: #fff;
}

.loading, .noPosts {
  text-align: center;
  padding: 2rem;
  font-style: italic;
  color: #666;
}

.blogLink {
  text-decoration: none;
}


.sliderContain :global(.swiper-button-next),
.sliderContain :global(.swiper-button-prev) {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderContain :global(.swiper-button-next):after,
.sliderContain :global(.swiper-button-prev):after {
  font-size: 1.5rem !important;
}



.sliderContain :global(.swiper-pagination-bullet) {
  background: white;
  opacity: 0.7;
}

.sliderContain :global(.swiper-pagination-bullet-active) {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .sliderContainer {
    padding: 0 1rem;
  }

  .slide {
    height: 500px;
    padding: 1rem;
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .postContent {
    font-size: 14px;
  }

  .readMore {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }
  
}

