.container {
  width: 100%;
}

.postCard {
  height: 290px;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.postMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.postDate {
  font-size: 0.8rem;
  opacity: 0.8;
}

.postTitle {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.postContent {
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.readMore {
  display: inline-block;
  padding: 5px 20px;
  background-color: #eae2d3;
  color: #222222;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  text-align: center;
  width: fit-content;
}

.readMore:hover {
  background-color: #3a4a3f;
  color: #fff;
}

.loading,
.noPosts {
  text-align: center;
  padding: 2rem;
  font-style: italic;
  color: #3c3c3c;
}
